# Игнорировать все файлы в папке images/
images/*

# Но оставить саму папку images/ и файл .gitkeep, чтобы Git отслеживал папку
!images/
!images/.gitkeep

# Игнорировать все бинарные файлы, скомпилированные в процессе сборки
/graph_renderer
*.exe

# Игнорировать объектные файлы
/build/
*.o

# Игнорировать все файлы, связанные с VSCode
.vscode/

# Игнорировать временные файлы редакторов
*~
*.log
*.tmp

